@import url('https://fonts.googleapis.com/css2?family=Magra&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Magra';
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
