@import url('https://fonts.googleapis.com/css2?family=Magra&display=swap');

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h3 {
    font-size: 24px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

input {
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    width: 88%;
    font-family: 'Magra';
    font-size: 20px;
    padding: 1%;
}

button {
    font-family: 'Magra';
    width: 90%;
    height: 50px;
    background: #00CED1;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

button:hover {
    transform: scale(1.02);
    cursor: pointer;
    background: #05dce0;
}

.itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 100%;
    gap: 50px;
    padding: 0;
    overflow-x: scroll;
}

.item {
    display: flex;
    flex-direction: column;
    min-width: 140px;
    height: 160px;
    gap: 30%;
    font-size: 24px;
    background-color: #00CED1;
    border-radius: 10px;
    padding: 10px 10px;
}

.card1 {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card2 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

img {
    width: 20%;
    align-self: self-end;
}