@import url('https://fonts.googleapis.com/css2?family=Magra&display=swap');

.corpo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    overflow: hidden;
}

.title {
    width: 100%;
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 2%;
}

input {
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    width: 80%;
    height: 60px;
    font-family: 'Magra';
    font-size: 20px;
    padding: 10px;
}

button {
    font-family: 'Magra';
    width: 18%;
    background: #00CED1;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background: #05dce0;
}

.tarefas {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    overflow-y: scroll;
}

.tarefa {
    list-style-type: none;
}