@import url('https://fonts.googleapis.com/css2?family=Magra&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 17%;
}

.corpo h1, .corpo p{
    font-family: 'Magra';
    font-size: 36px;
    color: #000000;
}

.botoes{
    display: flex;
    flex-direction: row;
    gap: 3.5%;
}

.botaoa{
    margin-top: 15px;
    font-family: 'Magra';
    font-size: 36px;
    height: 86px;
    width: 314px;
    color: #FFFFFF;
    border: none;
    background: #993399;
    border-radius: 4px;
}

.botaor{
    margin-top: 15px;
    font-family: 'Magra';
    font-size: 36px;
    height: 86px;
    width: 314px;
    color: #FFFFFF;
    border: none;
    background: #993399;
    border-radius: 4px;
}

.botaoa:hover, .botaor:hover{
    cursor: pointer;
    transform: scale(110%); 
    background: #c51ec5;
}